/* Text Color Styles */
.textGreen {
  color: $Mt4K-green;
}

.textLightBlue {
  color: $Mt4K-lightBlue;
}

.textPurple {
  color: $Mt4K-purple;
}

.textMaroon {
  color: $Mt4K-maroon;
}

.textOrange {
  color: $Mt4K-orange;
}

.textRed {
  color: $Mt4K-red;
}

.textBlack {
  color: #333 !important;
}

/* Font Styles */
.quickSand {
  font-family: "Quicksand", sans-serif;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* Button Styles */
.button {
  padding: 1rem 3rem;
  margin: 1rem;
  display: inline-block;
  border-radius: 44px;
  transition: all 0.3s ease 0s;
  // Link Styles
  a {
    color: white;
  }
  // Hover Styles
  a:hover {
    color: white !important;
    text-decoration: none !important;
  }
}

.buttonPurple {
  background-color: $Mt4K-purple;
  color: white !important;
  box-shadow: 0 8px 15px rgba(91, 91, 150, 0.1);
  // Hover Styles
  &:hover {
    box-shadow: 0 15px 20px rgba(91, 91, 150, 0.4);
    transform: translateY(-7px);
    // Link Color
    a:hover {
      color: white !important;
      text-decoration: none !important;
    }
  }
}

.buttonLightBlue {
  background-color: $Mt4K-lightBlue;
  color: white !important;
  box-shadow: 0 8px 15px rgba(25, 188, 195, 0.1);
  // Hover Styles
  &:hover {
    box-shadow: 0 15px 20px rgba(25, 188, 195, 0.4);
    transform: translateY(-7px);
    // Link Color
    a:hover {
      color: white !important;
      text-decoration: none !important;
    }
  }
}

.buttonRed {
  background-color: $Mt4K-red;
  color: white !important;
  box-shadow: 0 8px 15px rgba(190, 37, 52, 0.1);
  // Hover Styles
  &:hover {
    box-shadow: 0 15px 20px rgba(190, 37, 52, 0.4);
    transform: translateY(-7px);
    // Link Color
    a:hover {
      color: white !important;
      text-decoration: none !important;
    }
  }
}

// Details Page

.stepSection {
  margin: 2rem auto;
  // Step Text
  p {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
  }
  // Phone Image Styles
  img.phones {
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }
  // TJH Logo Styles
  img.tjh {
    display: block;
    margin: 0 auto;
    max-width: 85%;
  }
  // Sample IPhone + Beats Styles
  img.samplePhone {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }
}

.circle {
  border: 0.3em solid $Mt4K-purple;
  border-radius: 100%;
  height: 3em;
  width: 3em;
  text-align: center;
  display: block;
  margin: 0 auto;
  // Number Style
  h4 {
    margin-top: 15.25%;
  }
}

// Helpers
.centerMe {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Home Overlay
.homeOverlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  max-width: 95%;
  // Images
  img {
    max-width: 100%;
  }
  // Buttons
  .button {
    width: 95%;
    max-width: 400px;
  }
}

.darkBG {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

body {
  background: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.gradContainer {
  background: $lightBlueGradient;
  border-radius: 25px;
  padding: 2rem 1rem;
  margin: 0 auto;
}
