/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


/** Colors **/
$Mt4K-green: #21A94E;
$Mt4K-lightBlue: #19BCC3;
$Mt4K-purple: #5B5B96;
$Mt4K-maroon: #B42D4A;
$Mt4K-orange: #F0673A;
$Mt4K-red: #BE2534;

/** Gradient **/
$lightBlueGradient: rgb(238, 248, 251, .83);