/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (primary: #525ddc);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Colors **/
$Mt4K-green: #21a94e;
$Mt4K-lightBlue: #19bcc3;
$Mt4K-purple: #5b5b96;
$Mt4K-maroon: #b42d4a;
$Mt4K-orange: #f0673a;
$Mt4K-red: #be2534;

/** Gradient **/
$lightBlueGradient: rgba(238, 248, 251, 0.83);
